@use 'config' as c;

.art06{
    width: 100%;
    background-color: c.$color01;
    padding: 3rem c.$padMin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    @media only screen and (min-width:c.$tablet){
        padding: 5rem c.$padMin;
    }
    @media only screen and (min-width:c.$desktop){
        padding: 8rem c.$padMin;
    }
    >:nth-child(1){
        width: 100%;
        @media only screen and (min-width:c.$tablet){
            width: 80%;
        }
        @media only screen and (min-width:c.$desktop){
            width: 50%;
        }
    }
}